<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>

</h:head>

<h:body>

    <div>

        <h:outputLabel value="Dodaj nowego administratora: "/>
        <br></br><br></br>

        <h:form id="addAdminForm">

            <h:outputLabel value=" Nazwisko: "/>
            <h:inputText value="#{addAdminBean.admin.surname}" required="true" />

            <h:outputLabel value=" Imię: "/>
            <h:inputText value="#{addAdminBean.admin.name}" required="true"/>

            <h:outputLabel value=" Login: "/>
            <h:inputText value="#{addAdminBean.admin.login}" required="true"/>

            <h:outputLabel value=" Hasło: "/>
            <h:inputSecret value="#{addAdminBean.admin.password}" required="true"/>

            <h:outputLabel value="   "/>
            <h:commandButton action="#{addAdminBean.addAdmin}" value="Dodaj nowe konto administratora" id="addAdminButton"/>
            <h:messages for="addAdminButton"/>

        </h:form>

    </div>

    <div>

        <br></br>
        <h:link value="Strona główna" outcome="home.xhtml" />

    </div>

</h:body>

</html>