<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>

</h:head>

<h:body>

    <div>

        <h:outputText value="Dodaj nową osobę:" />
        <br></br>

        <h:form id="addPersonForm">

            <h:outputLabel value="Nazwisko: "/>
            <h:inputText value="#{personBean.person.surname}" required="true"/>

            <h:outputLabel value="Imię: "/>
            <h:inputText value="#{personBean.person.name}" required="true"/>

            <h:commandButton action="#{personBean.addNewPerson}" value="Dodaj osobę" id="addPersonButton"/>
            <h:messages for="addPersonButton"/>

        </h:form>

    </div>

    <div>

        <br></br>
        <h:link value="Strona główna" outcome="home.xhtml" />

    </div>

</h:body>

</html>