<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>

</h:head>

<h:body>

    <h:form id="changeNumberOfIdentifiersForm">

        <br></br>
        <h:outputLabel value=" Podaj nową liczbę identyfikatorów na siłowni: "/>
        <h:inputText id="numberInput" maxlength="3" required="true" converter="javax.faces.Number" value="#{changeNumberOfIdentifiersBean.newNumberOfIdentifiers}">
            <f:convertNumber integerOnly="true" maxFractionDigits="0" maxIntegerDigits="3" for="numberInput" />
        </h:inputText>
        <h:messages for="numberInput"/>

        <h:outputLabel value="   "/>
        <h:commandButton action="#{changeNumberOfIdentifiersBean.changeNumberOfIdentifiers}" value="OK" id="changeNumberOfIdentifiersButton"/>
        <h:messages for="changeNumberOfIdentifiersButton"/>

    </h:form>

    <div>

        <br></br>
        <h:link value="Strona główna" outcome="home.xhtml" />

    </div>

</h:body>

</html>