<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <h:outputStylesheet name="home.css" library="css"/>
</h:head>

<h:body>

    <div>

        <h:form id="logoutForm">

            <h:commandButton action="#{loginBean.doLogout}" value="Wyloguj" id="logoutButton"/>

        </h:form>

    </div>

    <div>

        <br></br>
        <h:link value="Dodaj nowego klienta" outcome="addPerson.xhtml" />

    </div>

    <div>

        <br></br>
        <h:link value="Dodaj nowego administratora" outcome="addAdmin.xhtml" />

    </div>

    <div>

        <br></br>
        <h:link value="Zarządzaj rodzajami karnetów" outcome="passKindManagement.xhtml" />

    </div>

    <div>

        <br></br>
        <h:link value="Zmień liczbę identyfikatorów siłowni" outcome="changeNumberOfIdentifiers.xhtml" />

    </div>

    <div>

        <br></br>
        <h:form id="findPersonForm">

            <h:outputLabel value="Nazwisko: "/>
            <h:inputText value="#{personBean.person.surname}" required="true"/>

            <h:outputLabel value="Imię: "/>
            <h:inputText value="#{personBean.person.name}" required="true"/>

            <h:commandButton action="#{personBean.findPerson}" value="Szukaj" id="findPersonButton"/>
            <h:message class="error" for="findPersonButton"/>

        </h:form>

    </div>

    <div>

        <br></br><br></br>
        <h:form id="takeIdentifierForm">

            <h:outputLabel value="Numer identyfikatora: "/>
            <h:inputText id="numberInput" maxlength="3" required="true" converter="javax.faces.Number" value="#{takeIdentifierBean.identifierNumber}">
                <f:convertNumber integerOnly="true" maxFractionDigits="0" maxIntegerDigits="3" for="numberInput" />
            </h:inputText>
            <h:messages for="numberInput"/>

            <h:commandButton action="#{takeIdentifierBean.collectIdentifier}" value="Zabierz identyfikator" id="takeIdentifierButton"/>
            <h:messages for="takeIdentifierButton"/>

        </h:form>

    </div>

</h:body>

</html>