<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>

</h:head>

<h:body>

    <div>

        <h:outputLabel value="Rodzaje karnetów: "/>
        <br></br><br></br>

        <h:dataTable value="#{passKindManagementBean.passKinds}" var="pk" border="1">

            <h:column>
                <f:facet name="header">
                    Nazwa
                </f:facet>
                #{pk.name}
            </h:column>

            <h:column>
                <f:facet name="header">
                    Dni ważności
                </f:facet>
                #{pk.validityDays}
            </h:column>

            <h:column>
                <f:facet name="header">
                    *Liczba dostęnych "wejść"
                </f:facet>
                #{pk.numberOfEntrances}
            </h:column>

            <h:column>
                <f:facet name="header">
                    Cena
                </f:facet>
                #{pk.price}
            </h:column>

            <h:column>
                <f:facet name="header">
                    **
                </f:facet>

                <h:form id="deletePassKindForm">

                    <h:commandButton action="#{passKindManagementBean.deletePassKind(pk.name)}" value="Usuń" id="deletePassKindButton"/>
                    <h:messages for="deletePassKindButton"/>

                </h:form>

            </h:column>

        </h:dataTable>

        <br></br>
        <h:outputLabel value="* wartość = 0 oznacza nieograniczoną liczbę wejść"/>
        <br></br>
        <h:outputLabel value="**Jeżeli nic się nie dzieje, prawdopodobnie oznacza to, że istnieje przynajmniej jedna osoba używająca tego rodzaju karnetu"/>

        <br></br><br></br>
        <h:form id="addPassKindForm">

            <h:outputLabel value=" Nazwa: "/>
            <h:inputText value="#{passKindManagementBean.passKind.name}" required="true" />

            <h:outputLabel value=" Dni ważności: "/>
            <h:inputText id="validityDaysInput" maxlength="5" required="true" converter="javax.faces.Number" value="#{passKindManagementBean.passKind.validityDays}">
                <f:convertNumber integerOnly="true" maxFractionDigits="0" maxIntegerDigits="5" for="validityDaysInput" />
            </h:inputText>
            <h:messages for="validityDaysInput"/>

            <h:outputLabel value=" Liczba wejść: "/>
            <h:inputText id="numberOfEntrancesInput" maxlength="5" required="true" converter="javax.faces.Number" value="#{passKindManagementBean.passKind.numberOfEntrances}">
                <f:convertNumber integerOnly="true" maxFractionDigits="0" maxIntegerDigits="5" for="numberOfEntrancesInput" />
            </h:inputText>
            <h:messages for="numberOfEntrancesInput"/>

            <h:outputLabel value=" Cena: "/>
            <h:inputText id="priceInput" maxlength="5" required="true" converter="javax.faces.Float" value="#{passKindManagementBean.passKind.price}">
                <f:convertNumber integerOnly="false" maxFractionDigits="2" maxIntegerDigits="5" for="priceInput" />
            </h:inputText>
            <h:messages for="priceInput"/>

            <h:commandButton action="#{passKindManagementBean.addPassKind}" value="Dodaj karnet" id="addPassKindButton"/>
            <h:messages for="addPassKindButton"/>

        </h:form>

    </div>

    <div>

        <br></br><br></br>
        <h:link value="Strona główna" outcome="home.xhtml" />

    </div>

</h:body>

</html>