<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>

</h:head>

<h:body>

    <div>

        <h:outputText value="Imię: " />
        <h:outputText value="#{personBean.person.name}" />

        <br></br>
        <h:outputText value="Nazwisko: " />
        <h:outputText value="#{personBean.person.surname}" />

    </div>

    <div>
        <br></br>
        <h:outputText value="Karnet: " />

        <h:outputText value="Rodzaj: " />
        <h:outputText value="#{showPassBean.pass.passKind.name}" />

        <br></br>
        <h:outputText value="Pozostało wejść: " />
        <h:outputText value="#{showPassBean.pass.numberOfEntrances}" />

        <br></br>
        <h:outputText value="Data wygaśnięcia: " />
        <h:outputText value="#{showPassBean.pass.expireDate}" />

    </div>

    <div>

        <br></br>
        <h:form id="showAddPassMenuForm" rendered="#{!addPassBean.isDropdownMenuVisible}">

            <h:commandButton value="Dodaj karnet" id="showAddPassMenuButton">
                <f:setPropertyActionListener value="true" target="#{addPassBean.isDropdownMenuVisible}" />
            </h:commandButton>

        </h:form>

    </div>

    <h:panelGroup layout="block" rendered="#{addPassBean.isDropdownMenuVisible}">

        <h:form id="addPassForm">

        <br></br>
            <h:selectOneMenu id="addPassMenu" value="#{addPassBean.passKindName}">
                <f:selectItems value="#{addPassBean.passKindNameList}" />
            </h:selectOneMenu>

            <h:commandButton value="Anuluj" id="cancelAddPassMenuButton">
                <f:setPropertyActionListener value="false" target="#{addPassBean.isDropdownMenuVisible}" />
            </h:commandButton>

            <h:commandButton action="#{addPassBean.addNewPass}" value="Dodaj" id="addPassButton"/>
            <h:messages for="addPassButton"/>

        </h:form>

    </h:panelGroup>

    <div>

        <br></br><br></br>

        <h:form id="giveIdentifierForm">

            <h:commandButton action="#{giveIdentifierBean.giveIdentifier}" value="Wpuść" id="giveIdentifierButton"/>
            <h:messages for="giveIdentifierButton"/>

        </h:form>

    </div>

    <div>

        <br></br><br></br><br></br>
        <h:link value="Strona główna" outcome="home.xhtml" />

    </div>

</h:body>

</html>