<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

<f:event type="preRenderView" listener="#{onStartupBean.redirect()}"/>

<h:head>

</h:head>

<h:body>

    <h:outputLabel value="Witam! Aby rozpocząć korzystanie z systemu wypełnij poniższy formularz, dzięki któremu stworzysz swoje konto administratora: "/>
    <br></br><br></br>

    <h:form id="addAdminForm">

        <h:outputLabel value="Nazwisko: "/>
        <h:inputText value="#{configBean.admin.surname}" required="true" />

        <h:outputLabel value=" Imię: "/>
        <h:inputText value="#{configBean.admin.name}" required="true"/>

        <br></br>
        <h:outputLabel value=" Login: "/>
        <h:inputText value="#{configBean.admin.login}" required="true"/>

        <h:outputLabel value=" Hasło: "/>
        <h:inputSecret value="#{configBean.admin.password}" required="true"/>

        <br></br>
        <h:outputLabel value=" Liczba identyfikatorów na siłowni: "/>
        <h:inputText id="numberInput" maxlength="3" required="true" converter="javax.faces.Number" value="#{configBean.numberOfIdentifiers}">
            <f:convertNumber integerOnly="true" maxFractionDigits="0" maxIntegerDigits="3" for="numberInput" />
        </h:inputText>
        <h:messages for="numberInput"/>

        <h:outputLabel value="   "/>
        <h:commandButton action="#{configBean.moveOn}" value="OK" />

    </h:form>

</h:body>

</html>