<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>

</h:head>

<h:body>

    <div>

        <h:form id="loginForm">

            <h:outputLabel value="Login: "/>
            <h:inputText value="#{loginBean.login}" required="true"/>

            <h:outputLabel value="Hasło: "/>
            <h:inputSecret value="#{loginBean.password}" required="true"/>

            <h:commandButton action="#{loginBean.doLogin}" value="Zaloguj" id="loginButton"/>
            <h:message class="error" for="loginButton"/>

        </h:form>

    </div>

</h:body>

</html>